@charset "utf-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(#008C94 20%, rgb(165, 165, 246),rgb(119, 119, 255));
    }

    section#login-screen {
        width: 90vw;
        height: 300px;
    }

    section#login-screen > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login-screen > div#form {
        float: right;
        width: 70%;
    }

    .entradas > input {
        width: 90%;
    }

    section#login-screen > div#form p {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(#008C94 20%, rgb(165, 165, 246),rgb(119, 119, 255));
    }

    section#login-screen {
        width: 990px;
        height: 320px;
    }

    section#login-screen > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login-screen > div#form {
        float: left;
        width: 50%;
    }

    section#login-screen > div#form p {
        font-size: 1em;
    }

    .entradas > input {
        width: 92%;
    }
}